@page
@model LoginModel
@{ ViewData["Title"] = "Sign in to your account"; }

<div class="my-auto mx-auto px-6 py-8 lg:py-0 h-full">
    <div
        class="w-[28rem] bg-white rounded-lg shadow dark:border w-lg xl:p-0 dark:bg-gray-800 dark:border-gray-700 mx-auto ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1
                class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-3xl dark:text-white">
                @ViewData["Title"]
            </h1>
            <form
                class="space-y-4 md:space-y-6"
                id="account"
                method="post">
                <div
                    asp-validation-summary="ModelOnly"
                    class="mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                </div>
                <div>
                    <label
                        asp-for="Input.Email"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Email
                    </label>
                    <input
                        asp-for="Input.Email"
                        autocomplete="username"
                        aria-required="true"
                        placeholder="name@example.com"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required/>
                    <p class="mt-2 text-xs text-red-600 dark:text-red-400">
                        <span
                            asp-validation-for="Input.Email"
                            role="alert">
                        </span>
                    </p>
                </div>
                <div>
                    <label
                        asp-for="Input.Password"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Password
                    </label>
                    <input
                        asp-for="Input.Password"
                        autocomplete="current-password"
                        aria-required="true"
                        placeholder="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required/>
                    <p class="mt-2 text-xs text-red-600 dark:text-red-400">
                        <span
                            asp-validation-for="Input.Password"
                            role="alert">
                        </span>
                    </p>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input
                                asp-for="Input.RememberMe"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"/>
                        </div>
                        <div class="ml-3 text-sm">
                            <label
                                asp-for="Input.RememberMe"
                                class="text-gray-500 dark:text-gray-300">
                            </label>
                        </div>
                    </div>
                    <a
                        id="forgot-password"
                        asp-page="./ForgotPassword"
                        class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">
                        Forgot password?
                    </a>
                </div>
                <button
                    id="login-submit"
                    type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Sign in
                </button>
                <p
                    class="text-sm font-light text-gray-500 dark:text-gray-300">
                    Don’t have an account yet?
                    <a
                        asp-page="./Register"
                        asp-route-returnUrl="@Model.ReturnUrl"
                        class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                        Sign up
                    </a>
                </p>
                <p>
                    <a
                        id="resend-confirmation"
                        asp-page="./ResendEmailConfirmation"
                        class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                        Resend email confirmation
                    </a>
                </p>
            </form>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{ if ((Model.ExternalLogins?.Count ?? 0) == 0) {
            <div>
                <p>
                    There are no external authentication services configured.
                    See this
                    <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                        article about setting up this ASP.NET application to
                        support logging in via external services
                    </a>
                    .
                </p>
            </div>
            } else {
            <form
                id="external-account"
                asp-page="./ExternalLogin"
                asp-route-returnUrl="@Model.ReturnUrl"
                method="post"
                class="form-horizontal"
            >
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins!) {
                        <button
                            type="submit"
                            class="btn btn-primary"
                            name="provider"
                            value="@provider.Name"
                            title="Log in using your @provider.DisplayName account"
                        >
                            @provider.DisplayName
                        </button>
                        }
                    </p>
                </div>
            </form>
            } }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}